{{ define "main" }}

{{ partial "bookshop_bindings" `(dict "content_html" .Params.note_html "type" "note")` }}
{{ (printf "<!--bookshop-live name(page)-->" .) | safeHTML }}
<h2>Hey ho</h2>
{{ (printf "<!--bookshop-live end-->" .) | safeHTML }}

<h1>Break</h1>

<!-- Render a `content` component directly, passing in extra data -->
{{ partial "bookshop_bindings" `(dict "content_html" .Params.note_html "type" "note")` }}
{{ partial "bookshop" (slice "content" (dict "content_html" .Params.note_html "type" "note")) }}

{{ end }}